* {
  font-family: sans-serif;
}

#app {
  transition: opacity 300ms;
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
  min-height: 1em;  
}

#app button {
  display: inline-block;
  float: left;
}

#app .loading {
  opacity: 0.4;
  pointer-events: none;
}

#app .loadingIndicator {
  float: right;
  opacity: 0;
  transition: opacity 300ms;
}

#app.loading > .loadingIndicator {
  opacity: 1;
}


